<div>
  <mat-toolbar color="primary">
    <span><a class="plain" href="/"><mat-icon>home</mat-icon></a></span>
    <span id="header-text" class="spaced">Pet Shop Boys</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="accent"><a href="create">Create</a></button>
    
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <mat-toolbar color="warn">
        <mat-icon>copyright</mat-icon>
        <span class="spaced">Pet Shop Boys, 2018</span>     
    </mat-toolbar>
</div>