@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-blue, 600, 600, 700);
$custom-accent:  mat-palette($mat-yellow, 500, 600, 700);
$custom-warn:    mat-palette($mat-grey, 700, 700, 800);
$custom-theme:   mat-light-theme($custom-primary, $custom-accent, $custom-warn);

$alt-primary: mat-palette($mat-yellow);
$alt-accent:  mat-palette($mat-grey, 200);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-grey, 400, 300, 500);
$dark-warn:    mat-palette($mat-grey, 300, 200, 400);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

.alternative {
    @include angular-material-theme($alt-theme);
}

.dark {
    @include angular-material-theme($dark-theme);
}
